<form method="post" asp-controller="Home" asp-action="GenerateRandomNumber">
    <div>
        <label>Мінімальне значення:</label>
        <input type="number" name="minValue" required>
    </div>

    <div>
        <label>Максимальне значення:</label>
        <input type="number" name="maxValue" required>
    </div>

    <button type="submit">Згенерувати випадкове число</button>
</form>

@if (ViewBag.RandomNumber != null)
{
    <h3>Випадкове число: @ViewBag.RandomNumber</h3>
}


